<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<center>
		<h3>แม่สูตรคูณ <input type="number" v-model="num">
		จำนวนเเถว <input type="number" v-model="row"></h3><br>
		<div class="space"></div>
		<h2> สูตรคูณแม่ {{num}} </h2><br>
		<h4>เเม่ก่อนหน้า -> เเม่ {{before_n}}</h4><br>
		<h3 class="row"
			v-for="i in r">
			{{num}}  x {{i}} = {{multiply(i)}}
		</h3>
		<h3 class="ans"> ผลรวม {{sum(row)}}</h3>
	</center>
	</div>

	<script>
		let app = new Vue({
			el:'#app',
			data:{
				num:2,
				before_n:1,
				row:12
			},
			methods: {
				multiply: function(row){
					return this.num*row
				},
				sum: function(row){
					let sum = 0
					for (let i=1; i<=row; i++){
						sum += this.num*i
					}
					return sum;

				}
			},
			computed: {
				r:function(row){
					return parseInt(this.row)
				},
				x2: function(){
					return this.num*2
				},
				x3: function(){
					return this.num*3
				},
				x4: function(){
					return this.num*4
				},
				x5: function(){
					return this.num*5
				},
				x6: function(){
					return this.num*6
				},
				x7: function(){
					return this.num*7
				},
				x8: function(){
					return this.num*8
				},
				x9: function(){
					return this.num*9
				},
				x10: function(){
					return this.num*10
				},
				x11: function(){
					return this.num*11
				},
				x12: function(){
					return this.num*12
				},
			},
			watch: {
				num: function(a,b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>